<!-- edit.html.erb -->

salut ça va ?

<div class="panel">
  <div class="supperposition">
    <img class="avatar-medium"  src=" <%= current_user.avatar_url%> " />
    <img class="avatar-medium chevauche"  src=" <%= current_user.avatar_url%> " />
  </div>
</div>