<div class="card">
  <div class="image">
    <i class="far fa-heart"></i>
    <h2> <%= name %> </h2>
    <p><i class="fas fa-map-marker-alt"></i> <%= city %> </p>
  </div>
  <div class="text">
    <h3> <%= title %></h3>
    <div class="taglist">
      <% tags.each do |tag| %>
        <div class="tag"> <%= tag.name %> </div>
      <% end %>

    </div>
  </div>
    <div class="rating">4,5 <i class="far fa-star"></i></div>
</div>