<p>Salut ça va ? </p>

<div class="card">
  <div class="image">
    <i class="far fa-heart"></i>
    <h2>Emilie</h2>
    <p><i class="fas fa-map-marker-alt"></i> Bordeaux </p>
  </div>
  <div class="text">
    <h3>Jeune fille ouverte d'esprit</h3>
    <div class="taglist">
      <div class="tag">Cinéma</div>
      <div class="tag">Boire du thé</div>
      <div class="tag">Jeux vidéos</div>
      <div class="tag">Expos</div>
      <div class="tag">Autres activités</div>
    </div>
  </div>
    <div class="rating">4,5 <i class="far fa-star"></i></div>
</div>