.core {
  display: flex;
}

.chat {
  
  width: 65%;

}

.reviews {
  height: fit-content;
  width: fit-content;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-right: 32px;
  margin-bottom: 32px;
  background-color: white;
}

