<div class="background h-100">
 <div class="container find h-100" >
    <h1  style="">Tes potes ne sont pas assez cool ? Pas de problème !</h1>
    <div class="d-flex justify-content-center">
      <div class="searchbar">

        <input class="search_input" type="text" name="" placeholder="Trouve un poto dans ta ville ">
        <%= link_to offers_path, class: "search_icon" do %>
          <%= icon("fas" ,"search") %>
        <% end %>
        <%# <a href="#" class="search_icon"></a> %>
      </div>
    </div>
  </div>
</div>
