
<div class="row justify-content-center">
  <div class="col-12 col-md-6 col-lg-4">
    <form action="#">
      <h2 class="text-center mb-5">Qu'elle est ton offre ?</h2>
        <div class="form-row">
          <div class="col-6 form-group">
            <%= simple_form_for @offer do |f| %>
            <%= f.input :title %>
           </div>
           <div class="col-6 form-group">
             <%= f.input :date %>
           </div>
        </div>
          <div class="btn-o">
           <%= f.button :submit %>
        </div>
    </form>
  </div>
</div>
<% end %>

