<div class="form">
  <div class="card-form">
    <h2 class="text-center">Que proposes-tu ? 😎</h2>
      <div class="input-info text-center">
        <%= simple_form_for @offer do |f| %>
        <%= f.input :title, label: "Ta punch-line :" %>
         </div>
      <div class="input-content text-center">
        <%= f.input :availabilities, label: "Tes dispos :" %>
      </div>
      <div class="input-info text-center">
        <%= f.button :submit, "Deviens un poto !", class:"btn-o btn btn-info btn-lg w-100" %>
        <% end %>
      </div>

  </div>
</div>

<div style="height: 10px"></div>
