.btn-center {
    padding-left: 10px 10px;
    
}

.rdv {
    color: white;
    margin-left: 15px;
}



.text {
  margin-left: 30px !important;
}

.container-btn {
    display: flex;
    justify-content: center;

    .btn-info {
        margin: 0px 8px;
        color: white !important;
    }
}

.btn-info {

    color: white !important;
}