.btn-center {
 padding-left: 10px 10px;
}


.bottom {
padding-top: 16px;
margin-left: 50px;
border-bottom: 0.1px solid rgb(255,228,181);
 h1 {
   font-family: "Nunito", "Helvetica", "sans-serif";
   font-size: 30px;
 }
}
