.btn-meetings {
    margin-top: 100px;
    padding: 12px 20px;
    background: $primary-color;
    border: none;
    color: white;
    border-radius: 30px;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    transition: all .3s ease-in;
}

.btn-center{
  box-sizing: border-box;
  margin-top: 10px;
margin-left: 40%;
}
