.rating-board {
  background-color: white;
  width: auto;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin-right: 32px;
  

  h4 {
    background-color: white;
    text-align: center;
    padding: 4px;
    margin-bottom: 0px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom: 0.3px solid rgba( 0, 0, 0, 0.2);
  }
}

.review {
  border-bottom: 0.1px solid rgba( 0, 0, 0, 0.1);
  border-radius: 3px;
}

.sender {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
  margin-top: 5px;

  h5 {
    font-weight: bold;
  }

  h6 {
    margin-right: 16px;
    font-weight: bold;
  }
}

.date-message {
  text-align: end;
  font-style: italic;
  opacity: 0.8;
  margin: 8px;
}