.card-form {
    margin-top: 50px;
    background-color: white;
    height: 500px;
    color: black;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    flex-grow: 1;
    margin-right: 130px;
    margin-left: 130px;
    margin-bottom: 130px;
    padding: 20px 20px;
    width: 70% 70%;
}

.text-center {
    margin-bottom: 50px;

}


.input-info {
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  position: static;
  font-family: 'Frank Ruhl Libre', serif;

}

.input-content {
  width: 50%;
  text-align: center;
  font-family: 'Frank Ruhl Libre', serif;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  position: static;
  padding-right: 0px

}

h2 {
   font-family: 'Frank Ruhl Libre', serif;
}

body {
background-color: #fffdfa;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23fff1d8'/%3E%3Cstop offset='1' stop-color='%23fff1d8' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23fbdfbd'/%3E%3Cstop offset='1' stop-color='%23fbdfbd' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23fbd28e'/%3E%3Cstop offset='1' stop-color='%23fbd28e' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23fffdfa'/%3E%3Cstop offset='1' stop-color='%23fffdfa' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffe5b0'/%3E%3Cstop offset='1' stop-color='%23ffe5b0' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23f6bd60'/%3E%3Cstop offset='1' stop-color='%23f6bd60' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}
