

.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: fixed;
  top: 0; 
  width: 100%; 
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand {
  font-family: 'Pacifico', cursive;
  color: #f6bd60 !important;
}

.nav-link {
left: 50px;

font-family: 'Frank Ruhl Libre', serif;
}

 .nav-link:hover {
 color: #f6bd60 !important;
 opacity: 0.8;
}

.d-flex {
  padding-left: 20px;
}
