.wrapper-header {
}

.wrapper-header-meeting {
  // margin-top: 30px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  img {
    margin: 0;
  }
  // margin: 0 auto;

  // height: 200px;
  // display: flex;
  // align-items: center;
  // img{
  //   margin: 0;
  // }

}

.superposition img {
margin-left: 30px;

//   margin-right: auto;
  // display: block;
}

.wrapper-global{
   background-color: white;
}

.wrapper {
  width: 80%;
  margin: 0 auto;

  height: 300px;
  display: flex;
  align-items: center;
  img{
    margin-left: 0;
  }
}


.wrapper-met {
  width: 20%;
  margin: 0 auto;
  height: 300px;
  display: flex;
  align-items: center;
  img{
    margin-left: 0;
  }
}



.wrapper-description {
  background-color: white;
}

.wrapper-profile-content {
  width: 500px;
}

.wrapper-offers-detail{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}


.details-center{
text-align: center;

}


.wrapper-global-messages {
  padding: 20px 0px;
  background-color: white;
  margin: 0 30px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);



}

.wrapper-messages {
  width: 80%;
}

.wrapper-message-header {
  width: 100%;
  display: flex;
  align-items: center;
  img {
    margin-right: 5px;
  }
}

.wrapper-message-content {
  margin-left: 50px;
  width: 85%;
  background-color: rgb(244,244,244);
}


.wrapper-send-message {
  width: 100%;
}

.wrapper-button {
  width: 400px;
  margin: 0 auto;
  padding: 0;
}

.btn-send {
  width: 100% !important;
  margin-left: 0 !important;
  // margin: 0 auto;
}

.wrapper-global-messages-reviews {

  background-color: white;
  display: flex;
  justify-content: center;
  height: max-content;
  min-height: 300;
  padding: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  textarea {
    margin: 0px !important;
    padding: 0px !important;
    width: 100%;
  }
  .form-group {
    margin: 0px !important;
    padding: 2.5px 0px !important;

  }

  label.float.optional {
    margin-left: 30px !important;
    margin-bottom: 10px !important;

  }
}
