.wrapper-header {

}

.wrapper {
  height: 300px;
  background-color: white;
  display: flex;
  align-items: center;
}

.wrapper-description {
  background-color: white;
}

.wrapper-profile-content {
  width: 500px;
}

.wrapper-offers-detail{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}


